@model eventy.Models.Family

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Name</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Family Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        @if (!string.IsNullOrEmpty(Model.OldControlNumber))
        {
            <hr />
            <dt>
                Old Control Number
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OldControlNumber)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.OldFamilyNumber))
        {
            <dt>
                Old Family Number
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OldFamilyNumber)
            </dd>
        }
        <hr />
        <dt>
            Last modified date
        </dt>
        <dd>
            @{
                DateTime dateModifiedLocal = Model.DateModified.Value.ToLocalTime();
            }
            @Html.DisplayFor(model => dateModifiedLocal)
        </dd>
        <dt>
            Last modified by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserModified)
        </dd>
        <dt>
            Date Created
        </dt>
        <dd>
            @{
                DateTime dateCreated = Model.DateCreated.Value.ToLocalTime();
            }
            @Html.DisplayFor(model => dateCreated)
        </dd>
        <dt>
            Created by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCreated)
        </dd>
    </dl>
</div>
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
