@model eventy.Models.FamilyViewModels.FamilyDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.Family.Name</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Family Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.Name)
        </dd>
        <dt>
            Address
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.Address)
        </dd>
        @if (!string.IsNullOrEmpty(Model.Family.OldControlNumber))
        {
            <hr />
            <dt>
                Old Control Number
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Family.OldControlNumber)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.Family.OldFamilyNumber))
        {
            <dt>
                Old Family Number
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Family.OldFamilyNumber)
            </dd>
        }
        <hr />
        <dt>
            Last modified date
        </dt>
        <dd>
            @{
                DateTime dateModifiedLocal = Model.Family.DateModified.Value.ToLocalTime();
            }
            @Html.DisplayFor(model => dateModifiedLocal)
        </dd>
        <dt>
            Last modified by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.UserModified)
        </dd>
        <dt>
            Date Created
        </dt>
        <dd>
            @{
                DateTime dateCreated = Model.Family.DateCreated.Value.ToLocalTime();
            }
            @Html.DisplayFor(model => dateCreated)
        </dd>
        <dt>
            Created by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Family.UserCreated)
        </dd>
    </dl>
</div>
<hr />

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Family Name</th>
                <th>Is Head of Family</th>
                <th>Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var familyMember in Model.FamilyMembers)
            {
                <tr>
                    <td>@familyMember.Id</td>
                    <td>@familyMember.FullName</td>
                    <td>@familyMember.IsHeadOfFamily</td>
                    <td>
                        <a asp-controller="Family" asp-action="RemoveFamilyMember" asp-route-familyId="@Model.Family.Id" asp-route-familyMemberId="@familyMember.Id" class="btn btn-danger">Remove From Family</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Family.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>
