@model eventy.Models.FamilyMember

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Html.DisplayFor(model => model.FullName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Family Id
        </dt>
        <dd>
            @if (Model.FamilyId == 0)
        {
            @:-
    }
    else
    {
        @Html.DisplayFor(model => model.FamilyId)
}
        </dd>
        <dt>
            Full Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            Gender
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            Birthday
        </dt>
        <dd>
            @Model.Birthday.ToString("dd/MM/yyyy")
        </dd>
        <dt>
            Is head of family
        </dt>
        <dd>
            @if (Model.IsHeadOfFamily)
        {
            @:Yes
    }
    else
    {
        @:No
}
        </dd>
        <hr />
        <dt>
            Last modified date
        </dt>
        <dd>
            @{
            DateTime dateModifiedLocal = Model.DateModified.Value.ToLocalTime();
            }
            @Html.DisplayFor(model => dateModifiedLocal)
        </dd>
        <dt>
            Last modified by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserModified)
        </dd>
        <dt>
            Date Created
        </dt>
        <dd>
            @{
            DateTime dateCreated = Model.DateCreated.Value.ToLocalTime();
            }
            @Html.DisplayFor(model => dateCreated)
        </dd>
        <dt>
            Created by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCreated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
