@model eventy.Models.EventViewModels.EventDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Event.EventName)</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Event.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Registered Families
        </dt>
        <dd>
            @Model.NumberOfFamiliesRegistered
        </dd>
        <dt>
            Attendees
        </dt>
        <dd>
            @Model.MaxNumberOfAttendees / @Model.TotalNumberOfAttendees
        </dd>
        <hr />
        <dt>
            Event Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.EventName)
        </dd>
        <dt>
            Event Date
        </dt>
        <dd>
            @{
                DateTime localEventDate = Model.Event.EventDate.ToLocalTime();
            }
            @Html.DisplayFor(model => localEventDate)
        </dd>
        <dt>
            Max number of Families
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.MaxNumberOfFamilies)
        </dd>
        <hr />
        <dt>
            Last modified date
        </dt>
        <dd>
            @{
                DateTime dateModifiedLocal = Model.Event.DateModified.Value.ToLocalTime();
            }
            @Html.DisplayFor(model => dateModifiedLocal)
        </dd>
        <dt>
            Last modified by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.UserModified)
        </dd>
        <dt>
            Date Created
        </dt>
        <dd>
            @{
                DateTime dateCreated = Model.Event.DateCreated.Value.ToLocalTime();
            }
            @Html.DisplayFor(model => dateCreated)
        </dd>
        <dt>
            Created by
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Event.UserCreated)
        </dd>
    </dl>
</div>
<hr />
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Family ID</th>
                <th>Family Name</th>
                <th>Family Member ID </th>
                <th>Name </th>
                <th>Actions </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var familyMemberDetail in Model.FamilyMembersDetails)
            {
                <tr>
                    <td>@familyMemberDetail.Family.Id</td>
                    <td>@familyMemberDetail.Family.Name</td>
                    <td>@familyMemberDetail.FamilyMember.Id</td>
                    <td>@familyMemberDetail.FamilyMember.FullName</td>
                    <td>
                        @if (!familyMemberDetail.IsAttending)
                        {
                            <button type="button" id="@Model.Event.Id---@familyMemberDetail.FamilyMember.Id" class="btn btn-success" type="button" onclick="addAttendance(@Model.Event.Id, @familyMemberDetail.FamilyMember.Id)">Add Attendance</button>
                        }
                        else
                        {
                            <button type="button" id="@Model.Event.Id---@familyMemberDetail.FamilyMember.Id" class="btn btn-danger" type="button" onclick="removeAttendance(@Model.Event.Id, @familyMemberDetail.FamilyMember.Id)">Remove Attendance</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script type="text/javascript" src="~/js/attendance.js"></script>
